<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/sb-admin.css">
    <link rel="stylesheet" href="/styles/plugins/morris.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-datetimepicker.css">
    <!--STYLES END-->
  </head>
  <body>
        <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard">Dashboard</a>
                
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#report" class="collapsed" aria-expanded="false"><i class="fa fa-fw fa-arrows-v"></i> Reports <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="report" class="collapse" aria-expanded="false" style="height: 0px;">
                            <li>
                                <a href="#" href='#' data-toggle='modal' data-target='#report-expense'>Expenses</a>
                            </li>
                            <li>
                                <a href="#" href='#' data-toggle='modal' data-target='#report-collection'>Collections</a>
                            </li>
                            <li>
                                <a href="#" href='#' data-toggle='modal' data-target='#report-deployment'>Deployments</a>
                            </li>
                        </ul>
                    </li>
                    <% if (session.me.role === 'admin' | session.me.role === 'su') {%>
                        <li><a href="/adminportal"><i class="fa fa-fw fa-plug"></i> Admin Portal</a></li>
                    <% } %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <%- body %>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <div class="modal fade" id="report-expense" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="label-report-expense">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="label-report-expense">Expenses Report</h4>
          </div>
          <div class="modal-body">
                <form id="form-report-expense" action="report/expense" target="_blank">
                    <div class="form-group">
                        <div id="report-expense-message" class="form-group">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Start Date</label>
                        <div class='input-group date' id='report-expense-start'>
                            <input name='start' type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End Date</label>
                        <div class='input-group date' id='report-expense-end'>
                                <input name='end' type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select name="country" class="form-control">
                            <!-- CREATE LOGIC HERE -->
                            <option id="">ALL</option>
                            <% for (var i=0; i < ddlCountry.length; i++) { %>
                                 <option><%= ddlCountry[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Principal (Tie-Up)</label>
                        <select id="report-expense-ddl-principal" name="principal" class="form-control">
                            <!-- CREATE LOGIC HERE -->
                            <option id="">ALL</option>
                            <% for (var i=0; i < ddlTieUp.length; i++) { %>
                                 <option id="<%= ddlTieUp[i].id %>"><%= ddlTieUp[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Transaction Type</label>
                        <select id="report-expense-ddl-type" name="type" class="form-control">
                            <!-- CREATE LOGIC HERE -->
                            <option id="">ALL</option>
                            <% for (var i=0; i < ddlType.length; i++) { 
                                if (ddlType[i].module === 2) {
                                %>
                                 <option><%= ddlType[i].description %></option>
                            <% }
                            } %>
                        </select>
                    </div>
                    <div class="form-group">
                            <button name="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary">Run Report</button>
                        </div>
                </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="report-collection" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="label-report-collection">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="label-report-collection">Collections Report</h4>
          </div>
          <div class="modal-body">
                <form id="form-report-collection" action="report/collection" target="_blank">
                    <div class="form-group">
                        <div id="report-collection-message" class="form-group">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Start Date</label>
                        <div class='input-group date' id='report-collection-start'>
                            <input name='start' type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End Date</label>
                        <div class='input-group date' id='report-collection-end'>
                                <input name='end' type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select name="country" class="form-control">
                            <!-- CREATE LOGIC HERE -->
                            <option id="">ALL</option>
                            <% for (var i=0; i < ddlCountry.length; i++) { %>
                                 <option><%= ddlCountry[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Principal (Tie-Up)</label>
                        <select id="report-expense-ddl-principal" name="principal" class="form-control">
                            <!-- CREATE LOGIC HERE -->
                            <option id="">ALL</option>
                            <% for (var i=0; i < ddlTieUp.length; i++) { %>
                                 <option id="<%= ddlTieUp[i].id %>"><%= ddlTieUp[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Transaction Type</label>
                        <select id="report-collection-ddl-type" name="type" class="form-control">
                            <!-- CREATE LOGIC HERE -->
                            <option id="">ALL</option>
                            <% for (var i=0; i < ddlType.length; i++) { 
                                if (ddlType[i].module === 1) {
                                %>
                                 <option><%= ddlType[i].description %></option>
                            <% }
                            } %>
                        </select>
                    </div>
                    <div class="form-group">
                            <button name="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary">Run Report</button>
                        </div>
                </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="report-deployment" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="label-report-deployment">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="label-report-deployment">Deployments Report</h4>
          </div>
          <div class="modal-body">
                <form id="form-report-deployment" action="report/deployment" target="_blank">
                    <div class="form-group">
                        <div id="report-deployment-message" class="form-group">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Start Date</label>
                        <div class='input-group date' id='report-deployment-start'>
                            <input name='start' type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End Date</label>
                        <div class='input-group date' id='report-deployment-end'>
                                <input name='end' type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select name="country" class="form-control">
                            <!-- CREATE LOGIC HERE -->
                            <option id="">ALL</option>
                            <% for (var i=0; i < ddlCountry.length; i++) { %>
                                 <option><%= ddlCountry[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Principal (Tie-Up)</label>
                        <select id="report-deployment-ddl-principal" name="principal" class="form-control">
                            <!-- CREATE LOGIC HERE -->
                            <option id="">ALL</option>
                            <% for (var i=0; i < ddlTieUp.length; i++) { 
                                %>
                                 <option><%= ddlTieUp[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                            <button name="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary">Run Report</button>
                        </div>
                </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/plugins/morris/raphael.min.js"></script>
    <script src="/js/plugins/morris/morris.min.js"></script>
    <script src="/js/plugins/morris/morris-data.js"></script>
    <script src="/js/bootstrap-waitingfor.js"></script>
    <script src="/js/datatables.jquery.js"></script>
    <script src="/js/datatables.bootstrap.js"></script>
    <script src="/js/front-end.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
