<div class="row">
    <div class="col-lg-4">
        <button id="button-export-payment" class="btn btn-success">Download</button>
    </div>    
</div>
<div id="export-report-payment" class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Collectibles Report</h1>
        <ol class="breadcrumb">
            <li class="active">
                Period from <%=headers.start%> to <%=headers.end%>
            </li>
        </ol>
    </div>
    <div class='col-lg-12'>
        <div class="table-responsive">
            <table style="font-size: 80%;" id="table-report-payment" class="table table-bordered table-hover table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>    
                        <th>Transaction Date</th>
                        <th>Reference No.</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Country</th>
                        <th>Principal</th>
                        <th>Employer</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (typeof report !== 'undefined') {
                        var totalCollectibles = 0;
                        for (var i=0; i < report.length; i++) { 
                            if (typeof report[i] !== 'undefined') {
                            if (typeof report[i].referenceNo !== 'undefined' & typeof report[i].amount !== 'undefined') { %>
                                <tr>
                                  <td><%= report[i].date %></td>
                                  <td><%= report[i].referenceNo %></td>
                                  <td><%= report[i].name %></td>
                                  <td><%= report[i].type %></td>
                                  <td><%= addCommas(parseFloat(Math.round(report[i].amount * 100) / 100).toFixed(2)) %></td>
                                  <td><%= report[i].country %></td>
                                  <td><%= report[i].principal %></td>
                                  <td><%= report[i].employer %></td>
                                </tr>
                                <% totalCollectibles += report[i].amount;
                            }
                            }
                        }
                    }%>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <table style="font-size: 80%;" id="table-report-deployment" class="table table-bordered table-hover table-striped" cellspacing="0" width="100%">
                <tbody>
                    <tr>    
                        <td>Total Collectibles</td>
                        <td><%=addCommas(parseFloat(Math.round(totalCollectibles * 100) / 100).toFixed(2))%></td>
                    </tr>
                </tbody>
        </table>
    </div>

</div>


<%
function addCommas(nStr)
{
	nStr += '';
	var x = nStr.split('.');
	var x1 = x[0];
	var x2 = x.length > 1 ? '.' + x[1] : '';
	var rgx = /(\d+)(\d{3})/;
	while (rgx.test(x1)) {
		x1 = x1.replace(rgx, '$1' + ',' + '$2');
	}
	return x1 + x2;
}
%>