<div class="col-lg-12">
    <div class="col-lg-4">
        <button id="button-export-deployment" class="btn btn-success">Download</button>
    </div>  
</div>
<div id="export-report-deployment" class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Deployment Report</h1>
        <ol class="breadcrumb">
            <li class="active">
                Period from <%=headers.start%> to <%=headers.end%>
            </li>
        </ol>
    </div>
    <div class='col-lg-12'>
        <div class="table-responsive">
            <table style="font-size: 80%;" id="table-report-deployment" class="table table-bordered table-hover table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>    
                        <th>Deployment Date</th>
                        <th>Reference No.</th>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Passport No.</th>
                        <th>OEC</th>
                        <th>CG</th>
                        <th>PDOS</th>
                        <th>Principal</th>
                        <th>Employer</th>
                        <th>Country</th>
                        <th>Collections</th>
                        <th>Expenses</th>
                        <th>Difference</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (typeof report !== 'undefined') {
                        var totalApplicants = 0, totalPayments = 0, totalExpenses = 0;
                        for (var i=0; i < report.length; i++) { 
                        if (typeof report[i].referenceNo !== 'undefined') {
                            totalApplicants++;
                            var payments = 0, expenses = 0, difference = 0; 
                            for (var p in report[i].payments) {
                                if (typeof report[i].payments[p].amount !== 'undefined') {
                                    payments += report[i].payments[p].amount;
                                   
                                }
                            } 
                            for (var e in report[i].expenses) { 
                                if (typeof report[i].expenses[e].amount !== 'undefined') {
                                      expenses += report[i].expenses[e].amount;
                                      
                                }
                            } 
                            difference = payments - expenses;
                            %>
                            <tr>
                              <td><%= report[i].date %></td>
                              <td><%= report[i].referenceNo %></td>
                              <td><%= report[i].name %></td>
                              <td><%= report[i].dateOfBirth %></td>
                              <td><%= report[i].passportNo %></td>
                              <td><%= report[i].oec %></td>
                              <td><%= report[i].cg %></td>
                              <td><%= report[i].pdos %></td>
                              <td><%= report[i].principal %></td>
                              <td><%= report[i].employer %></td>
                              <td><%= report[i].country %></td>
                              <td><%= addCommas(parseFloat(Math.round(payments * 100) / 100).toFixed(2)) %></td>
                              <td><%= addCommas(parseFloat(Math.round(expenses * 100) / 100).toFixed(2)) %></td>
                              <td><%= addCommas(parseFloat(Math.round(difference * 100) / 100).toFixed(2)) %></td>
                              <%  totalPayments += payments; totalExpenses += expenses; payments = 0; expenses = 0;
                                  var totalDiff = totalPayments - totalExpenses;
                              %>
                            </tr>
                        <% }
                        }
                    }%>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-4">
        <table style="font-size: 80%;" id="table-report-deployment" class="table table-bordered table-hover table-striped" cellspacing="0" width="100%">
                <tbody>
                    <tr>    
                        <td>Total Deployed Applicants</td>
                        <td><%=addCommas(totalApplicants)%></td>
                    </tr>
                    <tr>    
                        <td>Total Collections</td>
                        <td><%=addCommas(parseFloat(Math.round(totalPayments * 100) / 100).toFixed(2))%></td>
                    </tr>
                    <tr>    
                        <td>Total Expenses</td>
                        <td><%=addCommas(parseFloat(Math.round(totalExpenses * 100) / 100).toFixed(2))%></td>
                    </tr>;
                    <tr>    
                        <td>Total Difference</td>
                        <td><%=addCommas(parseFloat(Math.round(totalDiff * 100) / 100).toFixed(2))%></td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>

<%
function addCommas(nStr)
{
	nStr += '';
	var x = nStr.split('.');
	var x1 = x[0];
	var x2 = x.length > 1 ? '.' + x[1] : '';
	var rgx = /(\d+)(\d{3})/;
	while (rgx.test(x1)) {
		x1 = x1.replace(rgx, '$1' + ',' + '$2');
	}
	return x1 + x2;
}
%>