<div class="row"><div class="col-lg-12"><h1 class="page-header">Individual Ledger</h1></div></div>
<div class="row">
    <div class="col-lg-12">
        <button id="button-export-deployment" class="btn btn-success">Download</button>
        <button onClick="window.print()" class="btn btn-info">Print</button>
    </div>    
</div>
<br/>
<div id="export-report-deployment" class="row">
    <div class="col-lg-4">
        <div class="table-responsive">
            <table style="font-size: 80%;" class="table table-bordered table-hover table-striped" cellspacing="0" width="100%">
                <tbody>
                    <% if (typeof report !== 'undefined') { %>
                        <tr><td>Deployment Date</td><td><%= setToMMDDYYYY(report.dateDeployed) %></td></tr>
                        <tr><td>Reference No.</td><td><%= report.referenceNo %></td></tr>
                        <tr><td>Name</td><td><%= report.firstName %> <%= report.lastName %></td></tr>
                        <tr><td>Date of Birth</td><td><%= setToMMDDYYYY(report.dateOfBirth) %></td></tr>
                        <tr><td>Passport No.</td><td><%= report.passportNo %></td></tr>
                        <tr><td>OEC</td><td><%= report.oec %></td></tr>
                        <tr><td>CG</td><td><%= report.cg %></td></tr>
                        <tr><td>PDOS</td><td><%= report.pdos %></td></tr>
                        <tr><td>Principal</td><td><%= report.principal %></td></tr>
                        <tr><td>Employer</td><td><%= report.employer %></td></tr>
                        <tr><td>Country</td><td><%= report.country %></td></tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class='col-lg-6'>
        <div class="table-responsive">
            <table style="font-size: 80%;" id="table-report-deployment" class="table table-bordered table-hover table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>    
                        <th>Transaction Date</th>
                        <th>Transaction</th>
                        <th>Type</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (typeof report !== 'undefined') {
                        for (var i=0; i < report.payments.length; i++) { %>
                            <tr>
                              <td><%= setToMMDDYYYY(report.payments[i].transactionDate) %></td>
                              <td>Payment</td>
                              <% if (report.payments[i].type === "Rebate") { %>
                              <td><%= report.payments[i].type %> (<%=report.payments[i].center%>)</td>
                              <% } else { %>
                              <td><%= report.payments[i].type %></td>
                              <% } %>
                              <td><%= addCommas(report.payments[i].amount) %></td>
                            </tr>
                        <% } 
                    } if (typeof report !== 'undefined') {
                        for (var i=0; i < report.expenses.length; i++) { %>
                            <tr>
                              <td><%= setToMMDDYYYY(report.expenses[i].transactionDate) %></td>
                              <td>Expense</td>
                              <td><%= report.expenses[i].type %></td>
                              <td><%= addCommas(report.expenses[i].amount) %></td>
                            </tr>
                        <% }
                    } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%
function setToMMDDYYYY(date) 
{
    if (typeof date === 'undefined')
    return "";
    else {
        var date = new Date(date),
            yr = date.getFullYear(),
            month = date.getMonth() < 10 ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1),
            day = date.getDate()  < 10 ? '0' + date.getDate()  : date.getDate();
        return month + '-' + day + '-' + yr;
    }
}

function addCommas(nStr)
{
	nStr += '';
	var x = nStr.split('.');
	var x1 = x[0];
	var x2 = x.length > 1 ? '.' + x[1] : '';
	var rgx = /(\d+)(\d{3})/;
	while (rgx.test(x1)) {
		x1 = x1.replace(rgx, '$1' + ',' + '$2');
	}
	return x1 + x2;
}
%>